/* This is the stylesheet for UX/UI BitwiseCohortproject */



html{
  height: 100%;
}

body{
  min-height: 100%;
  opacity: 1;
  background-image: url(../img/building-3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;  /*This covers the whole space,not by image size*/
  background-position:bottom;
}

footer{
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: black; */
  color: white;
  text-align: center;
}

.img-gavel{
  opacity: 1;
  background-image: url(../img/gavel-3.jpg);
  background-size: 100% 100%;
}
.img-book{
  opacity: 1;
  background-image: url(../img/book-1.jpg);
  background-size: 100% 100%;
}

.img-scale{
  opacity: 1;
  background-image: url(../img/scale-3.jpg);
  background-size: 100% 100%;
}

.title-text{
  font-weight: bolder !important;
  text-align: center;
}

.background-lightgrey{
  opacity: 1;
  background-color: lightgrey;
}

.margin-top{
  margin-top: 10px;
}

.white-text
{
  color: white;
  text-shadow: 0px 0px 5px black;
}

.black-text{
  color: black;
  text-shadow: 0px 0px 5px white;
  /* font-weight: bold; */
}

.nav-text{
  /* font-family: 'Romanesco', cursive; */
  color: white;
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
  text-align: center;
  /* padding-top: 10px; */
}
.nav-border-box{
  border: 1px solid white;
}

.clickable-text{
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  text-shadow: 0px 0px 5px gold;

}
